body{
    font-family: 'Lato' sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}
.navtop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.seach{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px;
}